<!doctype html>
<html>

<head>
    {% include "analytics.html" %}
    
    <meta charset="utf-8">
    <title>StockSent | Fast and accurate stock market sentiment analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>

    {% with user=user %} {% include "nav.html" %} {% endwith %}

    <main>
        <h2 class="heading">StockSent serves as an exploration into sentiment analysis on stock market news</h2>
        <div class="info">
            <p><a href="https://newsapi.org/" target="_blank">Powered by News API</a>.</p>
        </div>
    </main>

    {% include "footer.html" %}

</body>

</html>
